# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local development settings
*.sqlite3
*.pyc
*.pyo

# Static files (usually collected using "collectstatic")
/staticfiles/

# Media files (user-uploaded content)
/media/

# Virtual environment
venv/
env/
.venv/
.ENV/

# Secret keys
*.secret_key

# IDE-specific files
.vscode/
.idea/
*.sublime-*

# Log files
*.log

# Compiled Python files
*.pyc

# Compiled C extensions
*.so

# macOS specific files
.DS_Store

# Windows thumbnail cache files
Thumbs.db

# Node.js related
node_modules/

.env